#
#SSL
# SSL CLIENT AUTH ##############################################################
SSLVerifyClient require
SSLVerifyDepth 10
SSLOptions +StdEnvVars
################################################################################


<IfModule mod_rewrite.c>

	<IfModule mod_negotiation.c>
		Options -MultiViews
	</IfModule>

	RewriteEngine on
	RewriteBase /proys/00.skel/zzzEntryPointMoveTest

	# Force HTTPS ##################################################################
	RewriteCond %{HTTPS} off
	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
	################################################################################
</IfModule>